{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["jest", "babel"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
